<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>zChat</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/angular.js"></script>
  </head>

  <style>
    .message-input, .message-input .inline-label, .menu-bar {margin-bottom: 13;}
    #sidebar, .messages {border-right: 1px solid #eee;}
    .message-side-bar {border-left: 1px solid #eee;}
    .avatar-section {border-top: 1px solid #eee;}
  </style>

  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" >
      <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="margin-top:70px">
      <div class="grid-frame">
      <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
        <div class="grid-content collapse shrink hide-for-medium">
          <a href="" class="secondary button expand" zf-close>Close</a>
        </div>
     
        <div class="grid-content">
          
          <section class="block-list">
            <header>Rooms</header>
            <ul>
              <li>
                <a href="#">
                  Slam Book
                  <span class="block-list-label">7</span>
                </a>
              </li>
              <li>
                <a href="#">
                  Foundation Chat
                  <span class="block-list-label">2</span>
                </a>
              </li>
              <li>
                <a class="success" href="#">
                  LolCats
                  <span class="block-list-label">2</span>
                </a>
              </li>
            </ul>
          </section>

          <section class="block-list">
            <header>People</header>
            <ul>
              <li>
                <a href="#">
                  Glen Coco
                  <span class="block-list-label">2</span>
                </a>
              </li>
              <li>
                <a class="success" href="#">
                  Guy Guyerson
                  <span class="block-list-label">2</span>
                </a>
              </li>
            </ul>
          </section>
        </div>
      </div>

      <div class="grid-block collapse medium-9 large-9 vertical">
        <div class="grid-block">
          <div class="grid-block small-12 medium-9 vertical">
            <div class="grid-content">
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Kevin Gnapoor</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Coach Carr</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
            </div>
            <div class="message-input grid-content collapse shrink">
              <span class="inline-label">
                <input type="text" placeholder="Message">
                <a href="#" class="button">Send</a>
              </span>
            </div>
          </div>
          <div class="grid-content medium-3 show-for-medium message-side-bar">
            <section class="block-list">
              <header>In This Room</header>
              <ul>
                <li><a href="#">Cady Heron</a></li>
                <li><a href="#">Kevin Gnapoor</a></li>
                <li><a href="#">Trang Pak</a></li>
                <li><a href="#">Coach Carr</a></li>
                <li><a href="#">Regina George</a></li>
              </ul>
            </section>
        </div>
      </div>
      </div>
    </div>
  </div>

  </body>
</html>

<!-- ui-view  -->