        <div class="container" style="margin-top:140px" >
          <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
            <div class="grid-content collapse shrink hide-for-medium">
              <a href="" class="secondary button expand" zf-close>Close</a>
            </div>
          </div>
          <div class="grid-block collapse medium-9 large-9 vertical">
            <div class="grid-block">
              <div class="grid-block small-12 medium-9 vertical" id="board">
                <div class="grid-content" id="chatlist">
                </div>
              </div>
            </div>
          </div>
        </div>