<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.login.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/bootstrap.login.min.css" rel="stylesheet">

        <!-- All the files that are required -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
        <title>로그인</title>
        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        
            <!-- Custom styles for this template -->
        <link href="../css/modern-business.css" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <!-- <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    
        <!-- MetisMenu CSS -->
        <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!-- Where all the magic happens -->
        <!-- LOGIN FORM -->
                <div id="navigation"></div>
                <div class="text-center" style="padding:50px 0">
                    <div class="logo">로그인</div>
                        <!-- Main Form -->
                    <div class="login-form-1">
                            <form id="login-form" class="text-left">
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="lg_username" class="sr-only">Email</label>
                                            <input type="text" class="form-control" id="email" name="email" placeholder="yourname@domain.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="lg_password" class="sr-only">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                                        </div>
                                    </div>
                                    <div class="form-group" style="text-align: center;">
                                        <input type="submit" name="submit" id="login-submit" class="form-control btn btn-default" value="로그인">
                                    </div>
                                </div>
                                <div class="etc-login-form">
                                    <p>비밀번호를 잊으셨나요? <a href="#">비밀번호 찾기</a></p>
                                    <p>아직 회원이 아니세요? <a href="/signup">회원가입</a></p>
                                </div>
                            </form>
                    </div>
                        <!-- end:Main Form -->
                </div>                      
        </div> 
    </body>
        
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
        function login(ent){
            let email = $('.main-login-form').find('#email').val();
            let password = $('.main-login-form').find('#password').val();
            if(email==''||password=='') {
                ent.preventDefault();
                 alert("이메일 주소 및 비밀번호를 입력하세요.");
                 return;
            }

            $.ajax({ 
                url: '/login', 
                processData: false,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ email: email, password: password }), 
                success: function(data){
                    window.location.href = '/';
                },
                error: function(xhr, status, error){
                    window.alert(xhr.responseText);
                    window.location.href = '/login';
                }
            });
        }

            /*로그인*/
            $(() => {
                $.get('/nav', (data) => {
                    $('#navigation').replaceWith(data); 
                });
                
                $('.form-control').keypress((ent) => {
                    let keycode = (event.keyCode ? event.keyCode : event.which);
                    if(keycode == '13') login(ent);
                });

                $('body').on('click', '#login-submit', (ent) => {
                    login(ent);
                });
            });
        </script>
</html>