
    
  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-warm bg-warm fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Myodure<img src='/image/logo.jpg' height="45px"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                <a class="nav-link" href="/post">새 가족 찾기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/favor">내가 찜한 냥</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat">대화 목록</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myinfo">내 정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
