<HTML lang='en'>
    <head></head>
    <body>
            <form action="/post/image" method="POST">
                <input type="file" name="pic">
                <input type="submit" name="submit" value="저장">
            </form>
    </body>

</HTML>